<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/2/images/0.jpg"></img><img
        src="ms/project/2/images/1.jpg"></img><img
          src="ms/project/2/images/3.jpg"></img><img
            src="ms/project/2/images/4.jpg"></img><img
             src="ms/project/2/images/5.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h3>Optimization of Helsingborg’s concert hall with regards to nZEB balancing.</h3>
  <div>
    <p>
      Helsingborg’s concert house is a landmark of modernistic architecture in Sweden, de- signed by renowned architect Sven Markelius and constructed in 1932. This project expos- es the building’s current energy balance and evaluates possible energy reduction solutions and potential to maximize on-site solar production in order to approach an annual net- zero energy building balance. Results show a potential to decrease the energy demand
      of the building by 71% and provide 91% coverage of annual electrical demand with solar
    </p>
  </div><div>
    <p>
      technology. All measures are assessed with reverential regard to the building’s prominent national and cultural heritage value. Profitability and economic discrepancies for all mea- sures are continuously assessed.
    </p>
    <p>
      Authors: Magdalena Stefanowicz, Marie Chevalerias, Amanda O’Donnell
      Please see the detailed raport, here:
    </p>
    <p>
      <a href="ms/project/2/download/helsinborg.pdf">>>> Optimization of Helsingborg’s concert hall with regards to nZEB balancing (.pdf )</a>
    </p>
  </div>
</div
