<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/2/images/0.jpg"></img><img
          src="ms/project/2/images/1.jpg"></img><img
            src="ms/project/2/images/2.jpg"></img><img
              src="ms/project/2/images/3.jpg"></img><img
                src="ms/project/2/images/4.jpg"></img><img
                  src="ms/project/2/images/5.jpg"></img><img
                    src="ms/project/2/images/6.jpg"></img><img
                      src="ms/project/2/images/7.jpg"></img><img
                        src="ms/project/2/images/8.jpg"></img><img
                           src="ms/project/2/images/9.jpg"></img><img
                              src="ms/project/2/images/10.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>Energy - effiicient office building</h4>
  <div>
    <p>
      The objective of this project was to introduce design process of energy efficient retrofit of an existing office building located in Malmo, Sweden.
    </p>
    <p>
      The energy use, moisture safe design, daylight factor, daylight autonomy are analysed with respect to steady-state calculations and several simulation software. Results show a building with a potential for energy efficient and daylight improvements. Highest possible level of architecture quality in respect to parametric studies conducted for energy efficiency, indoor climate, daylight autonomy, glare risk and moisture safe design, leads to the final design of the building.
    </p>
  </div><div>
    <p>
      For the proposed design, electric lighting, mechanical ventilation and space heating are introduced with consequently low energy use in mind.
      <br><br>Authors: Magdalena Stefanowicz, Anna Olson, Mihail Todorov and Xueting Wang
    </p>
    <p>
            Please see a detailed project report here:<br>
      <a href="ms/project/2/download/report.pdf">>>> Energy efficient office building raport (.pdf)</a>
    </p>
  </div>
</div
