<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/10/images/0.jpg"></img><img
        src="ms/project/10/images/1.jpg"></img><img
          src="ms/project/10/images/2.jpg"></img><img
            src="ms/project/10/images/3.jpg"></img><img
               src="ms/project/10/images/4.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>City under the bridge</h4>
  <div>
    <p>
    Kliniczna Interchange - 7,5ha area dominated by junction of concrete viaducts, train and tram railways - constructed in the early 70s. On the other hand: “That anonymous, seemingly deserted, transition point located in the industrial landscape of the city is intriguing. It attracts attention. Being in a hurry to historical shipyard of Gdańsk this is the place which people pass each morning. In that point roads of the Kliniczna Interchange are crossing with tram lines under the concrete pillars. The place stands out with its inner energy.”
    </p>
    <p>
        Intention of the thesis was to redesign the pedestrian area of Kliniczna Interchange, with the ambition to create democratic public space accessible for all. A topographical form of public pedestrian trough was designed.
    </p>
  </div><div>
    <p>
        The trough allows smooth movement of pedestrians, cyclists and disabled under high viaducts and railway embankments. When creating shape and topography of the trough following aspects of the area were analyzed: <br>
        1. How to physically connect points of interests on the area borders e.g hospital, train station, residential areas, university and campus, opera and cinema complex ?<br>
        2. How to do it without reconstructing the junction, but saving the character of a place?<br>
        3. How to make it easy to use, safe and inteteresting for pedestrians ?
    </p>
    <p>
      City:&emsp;&nbsp;&nbsp;Gdansk/PL<br>
      Year:&emsp;2010<br>
    </p>
  </div>
</div
