<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/10/images/1.jpg"></img><img
        src="ms/project/10/images/2.jpg"></img><img
          src="ms/project/10/images/3.jpg"></img><img
            src="ms/project/10/images/4.jpg"></img><img
            src="ms/project/10/images/5.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h3>Freedom Square</h3>
  <div>
    <p>
      Competition for redesigning Liberty Square in Swinoujscie
      Świnoujście President announced a competition for the “Redesigning of Freedom
      Square” in the central part of the redevelopment of the downtown traffic in Swinoujscie.
      As a team we agreed that our main aim in that competition was to create a meeting
      and recreation place for inhabitants and tourists, place with universal functionality of a
      public space and finally a place which would be strongly associated with Świnoujście.
      New design is a “square in square” of a specified area of   32x32 m with a system of
      fountains, seats and a stage, and with the possibility of creating a temporary canopy
      between lighting columns. The "square in square" will allow for better organization of
      the central area and areas along the facades.
    </p>
  </div><div>
    <p>
      Swinoujscie for many years has promoted itself as a land of 44 islands. So it became clear for us, that this king of relation
      should be the logo of  the central public space in town. That is why the most distinctive
      element of the square is a wooden platform with seats in the shape of the archipelago,
      on which Swinoujscie is located.
    </P>
    <p>
    City: Swinoujscie / PL<BR>
    Year: 2011<BR>
    Evaluation: 4th prize<BR>
    Team:&emsp;&nbsp;BPBK SA, Urban Design Department:<BR>
    &emsp;&emsp;&emsp;&emsp;Gabriela Rembarz, Tomasz Stanislawczyk, Magdalena Stefanowicz,<BR>
    &emsp;&emsp;&emsp;&emsp;Barbara Piotrowska.<BR><BR>
    All right to the project belongs to BPBK SA<BR>
    </p>
  </div>
</div
