<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/1/images/0.jpg"></img><img
          src="ms/project/1/images/1.jpg"></img><img
            src="ms/project/1/images/2.jpg"></img><img
              src="ms/project/1/images/3.jpg"></img><img
                src="ms/project/1/images/4.jpg"></img><img
                  src="ms/project/1/images/5.jpg"></img><img
                    src="ms/project/1/images/6.jpg"></img><img
                      src="ms/project/1/images/7.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <div>
    <p>
      Design tool for improved thermal comfort in glazed spaces.
      Master thesis in Energy-efficient and Environmental Building Design, Engineering Depart- ment at Lund University, Sweden.
    </p>
    <p>Thermal comfort in highly glazed spaces has long proven to be a troublesome matter due to unwanted passive solar heat gains, and consequent elevated cooling loads.
      A methodology was developed to correlate overheating with shading need, informing designers of how to distribute the solar heat transmission (g-value) of glazed façades in
    </p>
  </div><div>
    <p>
      order to mitigate local discomfort to the extent possible with passive shading design. A light, reflective ceramic shading device known as frit has been utilized, enabling selective alleviation of solar gains. The methodology has been developed into a design tool, scripted in Rhino/Grasshopper, facilitating parametric applicability.
      <br/>Authors: Magdalena Stefanowicz, Amanda O’Donnell
    </p>
    <p>
        Please see the detailed raport, here:<br>
        <a href="ms/project/1/download/distribution.pdf">>> Refined_Distribution_of_frit (.pdf )</a>
    </p>
  </div>
</div
