<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/9/images/0.jpg"></img><img
        src="ms/project/9/images/1.jpg"></img><img
          src="ms/project/9/images/2.jpg"></img><img
            src="ms/project/9/images/3.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>LCA & LCC</h4>
  <div>
    <p>
      In this study, I have analyzed costs and environment impact of the fridge by performing life cycle costs (LCC) and life cycle calculations. Three types of existing fridge were modelled and compared:
    <br>1. fridge originally produced in Sweden and modelled in Gabi
    <br>2. an equivalent fridge evaluated by a producer, Environmental Product Declaration (EPD)
    <br>3. fridge originally produced in China and modelled in Gabi

    </p>
  </div><div>
    <p>
    Additionally, a new energy-efficient fridge of class A +++ and production in Sweden was modelled in Gabi and compared with the other results.
      <br><br>Various scenarios of price changes were analyzed:<br>
  1. Maintanance price increase<br>
  2. Energy price<br>
  3. Initial price range<br>
  4. Annual increase in energy consumption
    </p>
  </div>
</div
