<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/4/images/0.jpg"></img><img
        src="ms/project/4/images/1.jpg"></img><img
          src="ms/project/4/images/2.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>Optimization of NZEB buildings, modelling occupant behaviour and interaction between building and users</h4>
  <div>
    <p>
      The goal of this project was to develop a model able to accurately describe the energy requirements of buildings in Shoukanghang residential area in Shanghai and establish a numerical method in order to achieve effective energy-saving measures, through a multi-objective optimization of the envelopes’ performance. Moreover,
      the analyses focus on the interaction between occupancy behaviour and energy consumption, highlighting how daily habits of chineese families could effect annual energy use.
      Hereby, to get a realistic indication of occupancy effect, different types of activities and profiles were developed and further combined with various apartment types.
    </p>

  </div><div>
    <p>
      By means of energy simulation software DesignBuilder, it was possible to determine the performance of existing project for the optimization process. Hereafter, the reference model was simulated using the developed occupancy schedules in order to define the influence of users behaviour on energy consumption. <br>
      <br>Shanghai, 2015<br>
      Supervisor: Prof. Salvatore Carlucci, NTNU <br>
    </p>
    <p>
            Please see the poster in high quality here:<br>
      <a href="ms/project/4/download/SEniC.png">>>> SEniC summer course in Shanghai 2015 (.jpg)</a>
    </p>
  </div>
</div
