<div class="main">
  <p>Write me<br>
  <a href="mailto:magdalena.stefanowicz@gmail.com">magdalena.stefanowicz@gmail.com</a></p>

  <p>or call me <br>
  <span class="bold link">+45 28 70 79 90</bold></p>

  <p>Magdalena Stefanowicz<br>
  2200 Copenhagen<br>
  Rantazusgade 6, 3 tv</p>

  <p class="bold facebook">
    <a href="http://dk.linkedin.com/pub/magdalena-stefanowicz/17/507/655/" target="_blank">
    </img>Find me on LinkedIn</a>
  </p>
</div>
