<div class="photo">
  <img src="ms/aboutme/images/jeg.jpg"></img>
  <p>Please see also my CV. Thank you for your interest!</p>
  <h3>I work in..</h3>
  <p>Parametric design >> Grasshopper + Rhino<br/>
  Energy and indoor climate >> EnergyPlus: Design Builder, IES VE, Be10 Daylight >> Ladybug, DIVA4Rhino, Ecotect, Daylight Vizualiser, DiaLUX Graphics & data analyzis >> Adobe Suite, Excel<br/>
  Moisture safety >> WUFI and hand calculations<br/>
  Thermal bridges >> HEAT 2<br/>
  Life cost analyzis >> Gabi<br/>
  Solar systems >> SAM, Solar Collector<br/>
  Architecture >> Autocad, Revit<br/>
  Visualizations >> SketchUp + Vray<br/>
  Certifications >> DGNB DK and Active House
</div><div class="text">
  <h3>I am..</h3>
  <p>.. a recent graduate with master degree in Energy-efficient and environmental building design from Engineering Faculty at Lund Uni- versity in Sweden. Originally I come from the most northern point on polish coast. Today I live in Copenhagen.
  <h3>I believe..</h3>
  <p>.. that INFORMATION ARCHITECTURE can visualize the information which is inherent
    but not visible in a building such as daylight, energy, healthy indoor climate and environ- mental impact. That is why as an engineer, I like to make hypothesis, analyze and simulate in order to make the invisible visible.
    In architecture esthetics, I believe in minimal- istic, modest, but elegant form and simple, clear functionality. In urban design but also in urban lifestyle, I believe in Albert Einstein’s quote “Der Staat ist fur die Menschen und nicht die Menschen fur den Staat”.
  <h3>My utlimate aim..</h3>
  <p>.. is to work with an engaged team on challenging, full of meaning and purpose - projects. I would like to grow as a reponsible building engineer.
</div><div class="text">
  <h3>Simple as sailing</h3>
  <p>I like to work, to study and to sail. So far, I competed in number of regattas and I have crossed Atlantic ocean on a boat once.
    Sailing tought me appreciating simple, func- tional solutions, but also how to collaborate with nature in a humble and optimal way. I learned how important it is to make quick analyzis of situations and be constantly pre- pared for new scenarios
  <img src="ms/aboutme/images/boat.jpg"></img>
  <p>Favourite movie: Northern Exposure<br/>
    Last book: Murakami and his Tokyo<br/>
    Listening now: Rhye and OK Go
</div>
