<div class="photo">
  <img src="ms/aboutme/images/jeg.jpg"></img>
  <h3><b>My tools</b></h3>
  <p><b>Parametric design:</b> Grasshopper + Rhino<br/>
  <b>Indoor climate:</b> IES-VE, Honeybee, EIC<br/>
  <b>Energy:</b> DesignBuilder, Be10<br/>
  <b>Daylight:</b> Ladybug, DIVA4Rhino, DiaLUX<br/>
  <b>Climate analysis:</b> Ecotect, Ladybug<br/>
  <b>BIM:</b> Autocad, Revit<br/>
  <b>3D modelling:</b> SketchUp, Vray, Rhino<br/>
  <b>Graphics & Data:</b> Adobe Suite, Excel<br/>
  <br/>
  but also<br/>
  <b>Moisture safety:</b> WUFI and hand calculations<br/>
  <b>Thermal bridges:</b> HEAT 2<br/>
  <b>Life cycle analyzis:</b> Gabi and Excel<br/>
  <b>Certifications:</b> DGNB DK and Active House<br/>
  <b>Solar systems:</b> SAM, Solar Collector<br/>
</div><div class="text">
  <h3><b>Environmental building engineer</b></h3>
  <p>As an environmental building engineer I have interest and experience in indoor comfort, daylight and energy evaluations as well as parametric design. I visualize the information which is inherent but not visible in a building.
  <h3><b>Recent graduate</b></h3>
  <p>Yes, I am a recent graduate with master degree in Energy-efficient and environmental building design from Engineering Faculty at Lund University in Sweden.
  <h3><b>Architecture + Code</b></h3>
  <p>Parallel to my master’s degree I have completed a course in Introduction to Computer Science from Harvard University, which helped me to discover potential of parametric design. Since then I have become an everyday user of Grasshopper and its environmental plugins. A combination of parametric and environemntal building design is the area of my greatest interest.
</div><div class="text">
  <h3><b>Agile attitude</b></h3>
  <p>I am a Pole who studied in Sweden while living and working in Copenhagen. I am well trained in crossing borders.
  <br/>
  <p>When not simulating and modelling buildings, I am a sailor. I have competed in number of regattas and crossed Atlantic ocean. Sailing tought me appreciating simple, functional solutions, but also how to collaborate with nature in a humble and optimal way. I know how important it is to make quick analysis of situation and be constantly prepared for new scenarios.
  <h3><b>Ultimate aim</b></h3>
  <p>My goal is to work with an engaged team on challenging, full of meaning and purpose projects.
</div>
