<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/12/images/0.jpg"></img><img
        src="ms/project/12/images/1.jpg"></img><img
          src="ms/project/12/images/2.jpg"></img>
  </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>Family house</h4>
  <div>
    <p>This family house has been proposed for 1000m2 flat plot in a turistic village with
    modernistic roots on baltic caost in Poland. A single-story house for a family of four,
    accompanied by two guest pavilions for tourists, each of pavilion for four.
    </p>
    <p>ARCHITECTURE<br>
    A single-story house built over a square ground plan, without a cellar and with a flat roof,
    two bedrooms, and amenities facing to the north. The common living area extends to the exteriors
    through wooden terrace.  </p>
  </div><div>
    <p>The facade, with its glazed walls on the southern-western corner, is covered
    by siberian larch wood planks. High roof plinth around the house makes it possible to install solar
    panels without changing the visible form of the house. Two pavilions with separate entrances from north and southern
    terraces follows the architecture of the faimly house. This time high roof plinth lives
    possibility for extending common garden area on the roofed terraces over pavilons.</p>
    <P>City: Jastrzebia Gora/PL<br>
    Year: 2012</p>
  </div>
</div>
