<div class="scope">
    <div>
      <p>Energy and indoor climate >> Design Builder, EIC</p>
      <p>Daylight >> DIVA4Rhino, Ecotect, Daylight Vizualiser, DiaLUX</p>
      <p>Parametric design >> Rhino + Grasshopper</p>
    </div><div>
        <p>Moisture safety >> WUFI</p>
        <p>Life cost analyzis >> Gabi</p>
        <p>Solar systems >> SAM, Solar Collector</p>
    </div><div>
        <p>Architecture >> Autocad, Revit</p>
        <p>Visualizations >> SketchUp + Vray, Rhino</p>
        <p>Graphics & data analyzis >> Adobe Suite, Excel</p>
    </div>
</div>
<div class="row">
    <div data-controller="project" data-project-id="1">
        <img src="ms/projects/images/1.jpg"></img>
        <h3>Design tool for improvement of thermal comfort in glazed spaces</h3>
        <P>
          Master thesis at Lund University, in cooperation with ACC Glass Consultants: “Refined distribution of frit”.
        </P>

    </div><div data-controller="project" data-project-id="2">
    <img src="ms/projects/images/2.jpg"></img>
    <h3>Concerthall refurbishment with focus on Life Cycle and Solar Potential</h3>
    <P>
        Refurbishment project of koncerthus building in Helsing- borg, Sweden. Semester 3.
    </P>

  </div><div data-controller="project" data-project-id="3">
    <img src="ms/projects/images/3.jpg"></img>
    <h3>Thermal bridges simulations, airtightness tests and infrared thermography</h3>
    <P>
      Thermal bridge calculations in HEAT 2, blowerdoor tests and infrared thermography with Testo tools.
    </P>
  </div>
</div>
<div class="row">
  <div data-controller="project" data-project-id="4">
    <img src="ms/projects/images/4.jpg"></img>
    <h3>Energy-efficient Office Design with focus on HVAC and daylight</h3>
    <P>
      Energy-efficient retrofit of an existing office building located in Malmo, Sweden. Semester 2.
    </P>
  </div><div data-controller="project" data-project-id="5">
    <img src="ms/projects/images/5.jpg"></img>
    <h3>Optimization of NZEB buildings, modelling occupant behaviour, interaction between building and users</h3>
    <P>
      SEniC Summer Course in Shanghai, 2015
    </P>
  </div>

  <div data-controller="project" data-project-id="6">
    <img src="ms/projects/images/6.jpg"></img>
    <h3>Passive House 11°50° with focus on energy and moisture safety</h3>
    <P>
      The design comes as a result of a parametric study, influ- enced by local climate conditions in Gunnesbo, Sweden.
    </P>
  </div>

  <div data-controller="project" data-project-id="7">
    <img src="ms/projects/images/7.jpg"></img>
    <h3>Climate analyzis</h3>
    <P>
      Design and communication concept for Trzech Krzyży Square, a representative square that marked the en- trance to Warsaw from the south.
    </P>
  </div>

  <div data-controller="project" data-project-id="8">
    <img src="ms/projects/images/8.jpg"></img>
    <h3>Sustainable design concepts</h3>
    <P>
      Competitions for residential and public buildings. DGNB certifications.
    </P>
  </div><div>

  </div><div data-controller="project" data-project-id="9">
    <img src="ms/projects/images/9.jpg"></img>
    <h3>City under the bridge</h3>
    <P>
      Diploma project for revitalization of “anonymous, seem- ingly deserted, transition point located in the industrial landscape of Gdansk shapyard: “City under the bridge”.
    </P>

  </div><div data-controller="project" data-project-id="10">
    <img src="ms/projects/images/10.jpg"></img>
    <h3>Public spaces concepts</h3>
    <P>
      Competition for the “Redesigning of Freedom Square” in the central part of the redevelopment of the downtown traffic in Swinoujscie, Poland.
    </P>

  </div><div data-controller="project" data-project-id="11">
    <img src="ms/projects/images/11.jpg"></img>
    <h3>Architecture and Visualization</h3>
    <P>
      Family house has been proposed for 1000m2 plot in a turistic village with modernistic roots on baltic caost, Poland.
    </P>
  </div>

</div>
