<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/5/images/0.jpg"></img><img
        src="ms/project/5/images/1.jpg"></img><img
          src="ms/project/5/images/2.jpg"></img><img
            src="ms/project/5/images/3.jpg"></img><img
              src="ms/project/5/images/4.jpg"></img><img
                src="ms/project/5/images/5.jpg"></img><img
                  src="ms/project/5/images/6.jpg"></img>

   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>Passive House 11°50°</h4>
  <div>
    <p>
        The architectural form of Passive House 11°50° comes as a result of a parametric study, strongly influenced by the impact of local climate conditions of the project site, located in Gunnesbo, Sweden.
    </p>
    <p>
        The project was prepared during a course of Integrating Thermal and Moisture Issues within 1st semester of Energy Efficient and Enviornmental Building Design master programme at Lund University.
    </p>
  </div><div>
    <p>
        Authors: Magdalena Stefanowicz energy, Roman Lechner, Amanda O’Donnel
    </p>
    <p>
        Please see a detailed project raport here:<br>
        <a href="ms/project/5/download/report.pdf">>>> Passive House 11°50° raport (.pdf )</a>
    </p>
  </div>
</div
