<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/5/images/0.jpg"></img><img
        src="ms/project/5/images/1.jpg"></img><img
          src="ms/project/5/images/2.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <div>
    <p>
    Optimization of NZEB buildings, modelling occupant behaviour, interaction between building and users.
    Design optimization of a buildings cluster located in Shoukanghang residential area in Shanghai. The main goal of this project was to develop a model able to accurately describe the energy requirements of the buildings and establish a numerical method in order to achieve effective energy-saving measures, through a multi-objective optimization of the envelopes’ performance. Moreover, the analyses focus on the interaction between oc- cupancy behaviour and energy consumption, highlighting how daily habits of Chineese families could effect annual energy use. The presence of person inside a room is noticeable since a body releases heat when its temperature is higher than the ambient air tempera- ture. As a consequence, the energy required to maintain a comfortable indoor climate
    </p>

  </div><div>
    <p>
      varies according to the number of occupants. Hereby, to get a realistic indication of the role of the occupancy, different types of activities and profiles were developed and further combined with various apartment types. By means of energy simulation software Design- Builder, it was possible to determine the performance of existing project for the optimiza- tion process. Hereafter, the reference model was simulated using the developed occupan- cy schedules in order to define the influence of users behaviour on energy consuption. Shanghai, 2015
      Supervisor: Prof. Salvatore Carlucci, NTNU
      Please see the poster in high quality, here:
    </p>
    <p>
      <a href="ms/project/5/download/shanghai.png">>>> SEniC summer course in Shanghai 2015 (.jpg)</a>
    </p>
  </div>
</div
