<div class="prev" >
  <img src="ms/project/images/prev.jpg"></img>
</div>
<div class="view-port">
  <div class="slider">
      <img src="ms/project/11/images/0.jpg"></img><img
        src="ms/project/11/images/1.jpg"></img><img
          src="ms/project/11/images/2.jpg"></img><img
            src="ms/project/11/images/3.jpg"></img><img
               src="ms/project/11/images/4.jpg"></img>
   </div>
  <div style="clear: both"></div>
 </div>
<div class="next">
  <img src="ms/project/images/next.jpg"></img>
</div>
<div class="text">
  <h4>City under the bridge</h4>
  <div>
    <p>
      The concept behind the project was to create a meeting
      and recreation place for inhabitants and tourists, a place with universal functionality and finally a place which would be strongly associated with Świnoujście.
      New design is a “square in square” of a specified area of 32x32 m with a system of
      fountains, seats and a stage, and with the possibility of creating a temporary canopy
      between lighting columns. The "square in square" allows for better organization of
      the central area and areas along the facades.
    </p>
  </div><div>
    <p>
      Swinoujscie for many years has promoted itself as a land of 44 islands. This particular relation
      became a starting point for design of the square. That is why the most distinctive
      element of the square is a wooden platform with seats in the shape of the archipelago,
      on which Swinoujscie is located.
    </P>
    <p>
    Year: 2011<BR>
    Project status: competition
    Evaluation: 4th prize<BR>
    Team:&emsp;&nbsp;BPBK SA, Urban Design Department:<BR>
    &emsp;&emsp;&emsp;&emsp;Gabriela Rembarz, Tomasz Stanislawczyk,<BR>
    &emsp;&emsp;&emsp;&emsp;Magdalena Stefanowicz,Barbara Piotrowska.<BR><BR>
    </p>
  </div>
</div
