<div class="main">
<div class="top">
  <hr/>
  <img src="ms/images/name.jpg"></img>

  <hr/>
  <div class="menu">
    <div data-controller="contact">
      <div>Contact</div>
      <div class="sub"></div>
    </div>
    <div data-controller="cv">
      CV
      <div class="sub"></div>
    </div>
    <div data-controller="aboutme">
      Who I am
      <div class="sub"></div>
    </div>
    <div data-controller="projects">
      Projects
      <div class="sub"></div>
    </div>
  </div>
</div>

<div class="content"></div>
</div>
