<div class="main">
<div class="top">
  <hr/>
  <div class="h1">Energy - efficient and environmental Building Design</div>
  <div class="h2">Magdalena Stefanowicz</div>
  <div class="h3">Graduate from Engineering Faculty, Lund University </div>
  <div class="menu">
    <div data-controller="contact">
      <div>Contact</div>
      <div class="sub"></div>
    </div>
    <div data-controller="cv">
      CV
      <div class="sub"></div>
    </div>
    <div data-controller="aboutme">
      Who I am
      <div class="sub"></div>
    </div>
    <div data-controller="projects">
      Projects
      <div class="sub"></div>
    </div>
  </div>
  <hr class="bottom"/>
</div>

<div class="content"></div>
</div>
