@import "base.less";

html {
  height: 100%;
}

body {
    font-family: "Helvetica", "Swis721 Bt", "HelveticaNeueLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 100;
    background-color: @background-color;
    color: @font-color;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    overflow-y: scroll;

  .main
    {
        background-color: #FFFFFF;
        width: 924px;
        margin:	auto;
        min-height: 100%;
        .shadow(0px,0px,15px,0px,#DDD);

        >div { margin: 0px 50px 0px 50px; }

        .top {
            padding: 15px 0px 15px 0px;
            .h1 {
              padding-top: 10px;
              font-size: 24px;
              font-weight: bold;
            }
            .h2 {
              margin-top: 15px;
              font-size: 22px;
            }
            .h3 {
              margin-top: 5px;
              font-size: 14px;
            }
            .main-image:hover{
              opacity: 0.5;
            }
            img {
        margin: 10px 0px 10px 0px; cursor: pointer;
      }
            .menu {
                >div {
                    float: right;
                    font-size: 14px;
                    list-style: none;
                    padding: 0px 20px 0px 20px;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: @font-color;
          .animate(color, 500ms, ease-in-out);
                    .sub {
                        height: 4px;
                        margin-top: 6px;
                        .animate(background-color, 500ms, ease-in-out);
                    }
                    &:hover, &.active {

            color: @background-underscore;
                        .sub {
                            background-color: @background-underscore;
                        }
                    }
                }
            }

            hr {
                color: @font-color2;
                background-color: @font-color2;
                height: 1px;
                clear: both;
                border: none;
            }
        }
  }
}
